.information-hub-container {
  display: flex;
  margin-top: 100px; /* Adjust this value so the content doesn't hide behind the navbar */
}

.sidebar {
  flex: 0 0 250px; /* Adjust width as needed, and prevent it from growing or shrinking */
  margin-right: 20px; /* Give some space between sidebar and main content */
  padding: 0;
}

.disease-list {
  font-size: 1.2rem; /* Increase the font size for the list */
}

.disease-item {
  padding: 10px;
  cursor: pointer;
  border-left: 5px solid transparent;
  font-size: 1.5rem; /* Add transparency for a uniform look */
}

.disease-item.selected {
  background-color: #4CAF50; /* Green background for selected item */
  color: white;
  border-left: 5px solid #4CAF50; /* Green border for selected item */
  
}

.main-content {
  flex-grow: 1;
  border: 2px solid #4CAF50; /* Green border for the information box */
  padding: 20px; /* Padding inside the information box */
}

/* Style the information inside the main content */
.main-content h2 {
  font-size: 4rem; /* Larger font size for headings */
}

.main-content p {
  font-size: 1.8rem; 
}

/* Assuming the search bar has a class named 'search-bar' */
.search-bar,
.search-bar-input {
  width: 100%;
  border: 2px solid #4CAF50; /* Green border for the search box */
  font-size: 2rem;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem; /* Adjust as needed */
}

.search-bar-container {
  width: 100%;
}