.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
  }
  
  .photo-container, .camera-container {
    position: relative;
    padding: 15px;
  }
  
  /* Adjust the video to be full width inside the modal */
  video {
    width: 100%;
    height: auto;
  }
  
  /* Style for the preview image */
  img {
    width: 100%;
    height: auto;
  }
  
  /* Button styles */
  button {
    margin-top: 15px;
  }
  .camera-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    font-weight: bold; /* Bold font weight */
    text-transform: uppercase; /* Uppercase text */
    font-size: 0.875rem; /* Equivalent to 'text-sm' in Tailwind */
    padding: 1.5rem 2.25rem; /* Equivalent to 'px-6 py-3' in Tailwind */
    border-radius: 0.375rem; /* Equivalent to 'rounded' in Tailwind */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); /* Equivalent to 'shadow' in Tailwind */
    margin-right: 0.25rem; /* Equivalent to 'mr-1' in Tailwind */
    margin-bottom: 0.25rem; /* Equivalent to 'mb-1' in Tailwind */
    transition: all 0.15s ease-linear; /* Equivalent to 'transition-all duration-150' in Tailwind */
  }
  
  .camera-button:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -4px rgba(0, 0, 0, 0.15); /* Darker shadow on hover */
  }  